.container {
display: flex;
flex-direction: column;
}

h1,h2,P {
    text-align: center;
}

.guessForm  {
    text-align: center;
}

.results    {
    height: 300px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40%;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}


.win    {
    background-color: green;
}

.reset  {
    text-align: center;

}

.total  {
    text-align: center;
}



