<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
<style>.box {min-height: 200px; min-width: 200px; background-color: {{ color }}; margin: 10px; display: inline-block; align-content: center; border: 4px solid black; }</style>
</head>
<body>
    <h1 style="text-align: center;">Welcome!</h1>
    <div class="container" style="display: flex-wrap; justify-content: center; ">

    {% for x in range(0,times): %}
        <div class="box">{{ box }}</div>
    {% endfor %}

    </div>
</body>
</html>